@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-img {
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;

    background-size: cover;
}

.button-style {
    border-width: 0px;
    border-radius: 4px;
    width: 190px;
}

.span {
    font-weight: bold;
    font-size: 20px;
}

.font-size {
    font-weight: 500;
    font-family: Roboto;
}

.time {
    font-weight: bold;
}

.time1 {
    font-weight: bold;
    color: #f0eee9;
}

.time2 {
    font-weight: bold;
    color: green;
    padding: 10px;
}

.time3 {
    font-weight: bold;
    color: red;
    font-size: 30px;
    padding: 10px;
}